# Ambientes Virtuais (Onde estão seus 10k arquivos)
venv/
.venv/
env/

# Arquivos compilados do Python (Lixo de memória)
__pycache__/
*.pyc

# Variáveis de Ambiente (Segurança - nunca suba senhas!)
.env
.env.local

# Banco de dados local (SQLite/Chroma)
*.sqlite3
*.db
chroma_db/
data/