#winget install Python.Python.3.11
#py -3.11 -m venv venv
#.\venv\Scripts\activate
#pip install -r requirements.txt

fastapi
uvicorn
pydantic
pydantic-settings
requests
sentence-transformers
psycopg2-binary
pypdf
numpy
chromadb
sqlalchemy
sqlalchemy.orm
passlib
bcrypt
python-multipart

#pip install numpy --only-binary=:all:
#pip install chromadb --only-binary=:all: